<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>


  <script type="text/javascript" th:inline="javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'svg',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    // prettier-ignore
const hours = [
    '0', '1', '2', '3', '4', '5',
    '6','7', '8', '9', '10', '11',
    '12', '13', '14', '15', '16', '17',
    '18', '19', '20', '21', '22', '23'
];
// prettier-ignore
const days = [
    '10', '20', '30',
    '40', '50', '60'
];
// prettier-ignore
var dataList = [[${data}]];
const data = dataList.map(function (item) {
    return [item[0],item[1], item[2] || '-'];
});
option = {
  tooltip: {
    position: 'top'
  },
  grid: {
    height: '70%',
    top: '10%'
  },
  xAxis: {
    type: 'category',
    data: hours,
    splitArea: {
      show: true
    }
  },
  yAxis: {
    type: 'category',
    data: days,
    splitArea: {
      show: true
    }
  },
  visualMap: {
    min: 0,
    max: 500,
    calculable: false,
    orient: 'horizontal',
    left: 'center',
    bottom: '1%',
    inRange: {
            color: ['WhiteSmoke','Brown']
    }
  },
  series: [
    {
      name: '操作次数',
      type: 'heatmap',
      data: data,
      label: {
        show: true
      },
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>